main searchbar {
    background-color: #daf0fb;
    position: absolute;
    top: calc( var(--navbar-margin) + var(--navbar-height) - var(--inner-border-radius));
    width: calc(100vw - var(--navbar-margin)*2);

    padding: 1rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;

    display: flex;
    flex-direction: column;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* #region SEATCHFIELD */

main searchbar searchfield {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;

    gap: 0.5rem
}
main searchbar searchfield input {
    outline: transparent;
    flex-grow: 1;
    border: none;

    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #fff;

    outline: 2px solid #00aaff00;
    outline-offset: 2px;

    transition: 0.2s;
}
main searchbar searchfield input:hover {
    outline: 2px solid #00aaff;
    
    transition: 0.1s;
}
main searchbar searchfield input:active {
    background-color: #d6efff;

    transition: 0.05s;
}
main searchbar searchfield button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #fff;

    outline: 2px solid #00aaff00;
    outline-offset: 2px;

    transition: 0.2s;
}
main searchbar searchfield button:hover {
    outline: 2px solid #00aaff;


    transition: 0.1s;
}
main searchbar searchfield button:active {
    background-color: #22aaff;

    transition: 0.05s;
}

/* #endregion SEATCHFIELD */

/* #region QUICK_ACTIONS */

main searchbar quick_actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0.25rem 0;
    gap: 0.25rem;
}

main searchbar quick_actions button {
    outline: transparent;
    border: none;

    background-color: #FFF;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
}

/* #endregion QUICK_ACTIONS */

/* main searchbar > * {
    font-size: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    opacity: 0;
} */

