body{
    background-image: url(http://picsum.photos/4);
    background-repeat: no-repeat;
    background-size: cover;

    backdrop-filter: blur(0rem);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}