main {
    box-sizing: border-box;
    padding-right: var(--scrollbar-spacing);
    padding-left: calc( var(--navbar-width) + var(--navbar-margin) + 1rem);
    padding-top: calc( var(--next-height) + var(--next-margin) + 1rem);
    padding-bottom: 1rem;
    transition: padding-left .3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 1rem;

    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}
main * {
    flex-shrink: 0;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}
main *.templong {
    height: 60vh;
}

main label {
    font-size: 2em;
    font-weight: bold;
}