authorization {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

authorization > * {
    box-sizing: border-box;
    background-color: #fff;

    position: absolute;

    padding: 1.5rem 3rem;
    border-radius: 0.5rem;

    width: clamp(25rem, 50vw, 70rem);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
authorization > .hidden {
    visibility: hidden;
}