* {
    outline: solid 1px #f00;
}

messages {
	display: flex;
	flex-direction: column;
	justify-items: end;
	align-items: flex-end;

	color: #ffffff;
	z-index: 100;
	/* pointer-events: none; */
    position: fixed;
	top: 0;
	right: 0;
    padding-right: 1.5rem;
	padding-top: 1.5rem;
	max-height: 100vh;
 	overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
messages > message {

    background-color: #f3f3f3;

    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
    width: 100%;
    gap: 1rem;
    margin-bottom: 0.5rem;

    display: flex;
    opacity: 1;
    transform: translatey(0);

    transition: visibility 0s 0s, opacity 1s 0s ease-out, transform 1s 0s ease-out;
}
messages > message.problem {
    background-color: #f71e1e;
}
messages > message.expired,
messages > message.expired > * {
    visibility: hidden;
    
    opacity: 0;

    height: 0rem !important;
    padding-block: 0rem !important;
    margin-bottom: 0rem !important;

    transition: 
        visibility 0s 1s, 
        opacity 0.4s 0s ease-in, 
        transform 0.8s 0s ease-in, 
        height 0s 0.5s ease-in,
        padding-block 0.8s 0s ease-in,
        margin-bottom 0.8s 0s ease-in;
}
messages > message > counting {
    
    background-color: #fff;
    width: 100%;
    height: 0.5rem;
    position: absolute;

    border-radius: 0 0.25rem 0.25rem 0;

    bottom: 0;
    left: 0;

    animation: counting var(--time) linear forwards;
}

@keyframes counting {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}