body {
    background-image: url(http://picsum.photos/1920/1080);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    backdrop-filter: blur(2rem) brightness(0.5) saturate(4);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}