main {
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    margin: 0;
    padding: 0 2rem;

    padding-top: var(--navbar-height);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 10;
}

main > welcome {
    box-sizing: border-box;
    background-color: #fff;

    position: absolute;
    left: 15%;

    padding: 0.5rem 2rem;
    border-radius: 0.5rem;

    width: clamp(25rem, 50vw, 50rem);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main > welcome > button {
    outline: 0.125rem solid #00aaff;
    border: none;
    box-sizing: border-box;
    background-color: #cceeff;
    color: #000;
    font-weight: 900;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
main > welcome > button:hover {
    background-color: #00aaff;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.05s ease-in-out;
}


main > img {
    position: absolute;
    mix-blend-mode: screen;
    background-blend-mode: screen;
    height: 120vh;
    width: 120vh;
}

